@media(min-width:992px){.bannerSlider__base{width:100%;position:relative}
.bannerSlider__base .slider__bullet__nav{margin-right:60px}
.bannerSlider__box--left{width:40.1069518717%;float:left;margin-left:8.5561497326%;margin-right:-100%}
.bannerSlider__box--right{width:40.1069518717%;float:left;margin-left:51.3368983957%;margin-right:-100%}
.bannerSlider__casaSlide{margin:auto}
.bannerSlider__title{font-size:40px;line-height:44px;margin-bottom:30px}
.bannerSlider__text{font-weight:300;font-size:20px;line-height:24px}
}