@media(min-width:768px){.languagepage__sectionContainer{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap}
.languagepage__newsContainer{width:65.7754010695%;float:left;margin-right:2.6737967914%}
.languagepage__widgetContainer{width:31.550802139%;float:right;margin-right:0;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;margin-top:0}
.languagepage__widgetContainer .stockmarketwidget{min-height:0}
.languagepage__teaserContainer{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}
.languagepage__teaser,.languagepage__widget{width:31.550802139%;float:left;margin-right:2.6737967914%;margin-top:30px}
.languagepage__teaser--last,.languagepage__widget--last{width:31.550802139%;float:right;margin-right:0}
.languagepage__teasers--static>.teaser,.languagepage__teasers--static .languagepage__teaser{width:47.9674796748%;float:left;margin-right:4.0650406504%}
.languagepage__teasers--static>.teaser:nth-child(2n),.languagepage__teasers--static>.teaser--last,.languagepage__teasers--static .languagepage__teaser:nth-child(2n),.languagepage__teasers--static .languagepage__teaser--last{width:47.9674796748%;float:right;margin-right:0}
.languagepage__teasers .new.section,.languagepage__teasers .teaser{width:31.550802139%;float:left;margin-right:2.6737967914%}
.languagepage__teasers .new.section:nth-child(3n),.languagepage__teasers .teaser:nth-child(3n){width:31.550802139%;float:right;margin-right:0}
.languagepage__sectionTitle{font-size:40px;line-height:44px}
.languagepage__sectionTitle{margin-top:60px;margin-bottom:30px}
}