@media(min-width:768px){.bannerSlider__container--languagePage+div{z-index:4}
.bannerSlider__base .slider__bullet__nav{margin-right:45px;left:auto;right:0;bottom:15px;margin-top:0x}
.bannerSlider__base .grid-container{position:absolute;top:0;left:0;right:0;height:100%;width:100%}
.bannerSlider__item{background-color:#f7f7f9}
.bannerSlider__image{padding-bottom:33.3333333333%}
.bannerSlider__image--minimized{width:50%}
.bannerSlider__image--minimized.bannerSlider__image--right{transform:translateX(100%)}
.bannerSlider__image img{min-height:calc(100% + 1px)}
.bannerSlider__boxContainer{padding:0 10px;align-items:center}
.bannerSlider__boxContainer:before{display:none}
.bannerSlider__box{display:block;height:auto;margin:0;padding:28px 30px 20px}
.bannerSlider__box--white{color:#fff}
.bannerSlider__box--withoutBackground{background-color:transparent}
.bannerSlider__box--left{width:48.6631016043%;float:left;margin-right:2.6737967914%}
.bannerSlider__box--right{width:48.6631016043%;float:left;margin-left:51.3368983957%;margin-right:-100%}
.bannerSlider__casaSlide{background-color:transparent;padding:0;margin:0}
.bannerSlider__casaSlide>.bannerSlider__box{margin-top:auto}
.bannerSlider__title{font-size:30px;line-height:34px}
.bannerSlider__title{margin-bottom:20px}
.bannerSlider__text{font-size:16px;line-height:21px}
.bannerSlider__text{margin-bottom:0;display:block}
.bannerSlider__button{font-size:20px;line-height:24px}
.bannerSlider__button{margin-top:30px}
.slider__base{padding-bottom:40px}
.slider__bullet__nav{margin-right:20px}
.slider__image__caption{font-size:14px;line-height:16px}
}
@media(min-width:1200px)and (min-width:768px){.bannerSlider__button{font-size:22px;line-height:28px}
}