.heroTeaser__base{display:block;text-decoration:none}
.heroTeaser__base:hover,.heroTeaser__base:focus{text-decoration:none}
.heroTeaser__base.hasFocus .heroTeaser__image{-webkit-transform:scale(1.03);transform:scale(1.03)}
.heroTeaser__imageWrapper{width:100%;overflow:hidden;width:100%;height:0;padding-bottom:35.5555555556%;position:relative}
.heroTeaser__imageWrapper .img__base{position:static}
.heroTeaser__imageWrapper iframe,.heroTeaser__imageWrapper img,.heroTeaser__imageWrapper picture,.heroTeaser__imageWrapper video{position:absolute;top:0;left:0;width:100%;height:100%}
body:not(.touch) .heroTeaser__imageWrapper:hover .heroTeaser__image{-webkit-transform:scale(1.03);transform:scale(1.03)}
.heroTeaser__image{width:100%;opacity:0;-webkit-transition:opacity .75s cubic-bezier(0.165,0.84,0.44,1);transition:opacity .75s cubic-bezier(0.165,0.84,0.44,1)}
body:not(.touch) .heroTeaser__image{-webkit-transition:-webkit-transform .6s ease-in-out;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out}
.heroTeaser__image.lazyload--complete,.heroTeaser__image--fallback{opacity:1}
.heroTeaser__label{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:16px;width:100%;padding:0 0 20px 20px;background-color:#f7f7f9;overflow:hidden;color:#333;height:auto}
.heroslider__slider .heroslider__sliderItem .heroTeaser__label{max-height:0}
.heroslider__slider .heroslider__sliderItem--active .heroTeaser__label{max-height:100%}
.heroTeaser__headerContainer{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%}
.heroTeaser__heading{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:300;font-size:18px;line-height:22px;color:#688bb6;margin-top:16px;margin-bottom:10px;padding-right:10px}
.heroTeaser__icon{color:#688bb6;position:relative;right:8px;top:8px}
.heroTeaser__icon::before{font-size:35px}
.heroTeaser__text{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:19px;margin-bottom:20px;padding-right:63px}
.heroTeaser__text:last-child{margin-bottom:0}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){.heroTeaser__icon::before{font-size:32px}
}