.newsfeed__base{padding:0}
.newsfeed__title{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:300;font-size:22px;line-height:26px;color:#333;display:inline-block;margin-right:10px}
.newsfeed__titleLink:hover,.newsfeed__titleLink:focus{text-decoration:none}
.newsfeed__icon{display:inline-block;color:#688bb6;vertical-align:bottom}
.newsfeed__list{zoom:1;display:block;width:100%;margin-top:30px}
.newsfeed__list:before,.newsfeed__list:after{content:".";display:block;height:0;overflow:hidden}
.newsfeed__list:after{clear:both}
.newsfeed__item{width:100%;color:#000;margin-bottom:17px}
.newsfeed__item:last-child{margin-bottom:0}
.newsfeed__headline{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:300;font-size:18px;line-height:22px;color:#688bb6;margin-bottom:12px}
.newsfeed__description{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:19px;display:block;display:-webkit-box;max-width:100%;max-height:96.264px;margin:0 auto;font-size:14px;line-height:1.3752;-webkit-line-clamp:5;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;height:auto;max-height:96.264px;margin-bottom:6px}
.newsfeed__date{zoom:1;font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:normal;font-size:12px;line-height:14px;color:#8d9099}
.newsfeed__date:before,.newsfeed__date:after{content:".";display:block;height:0;overflow:hidden}
.newsfeed__date:after{clear:both}