.teaser__base{position:relative;width:100%;color:#4977a6;text-decoration:none;cursor:pointer;display:block;border-top:1px solid #688bb6}
.teaser__base:hover,.teaser__base:focus{text-decoration:none;outline:0}
.teaser__base:hover .teaser__heading,.teaser__base:focus .teaser__heading{color:#536f92}
.teaser__base.hasFocus::after{content:"";position:absolute;border:1px solid #536f92;top:-1px;bottom:-1px;right:-11px;left:-11px}
.teaser__base.teaser--noimage.hasFocus{border-top-color:transparent}
.teaser__base.teaser--noimage.hasFocus::after{top:3px}
.teaser__base--microsite{border:0;background:#fff}
.teaser__base--microsite:hover,.teaser__base--microsite:focus{background:#688bb6}
.teaser__base--microsite:hover .teaser__heading,.teaser__base--microsite:hover .teaser__text,.teaser__base--microsite:focus .teaser__heading,.teaser__base--microsite:focus .teaser__text{color:#fff}
.teaser__base--microsite.hasFocus::after{content:none}
.aem-AuthorLayer-Preview .header__base .teaser__base{display:none}
.teaser__heading{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:300;font-size:18px;line-height:22px;color:inherit;position:relative;padding:14px 50px 14px 0}
.teaser__heading--microsite{color:#333;padding:0 0 6px}
.teaser__imageWrapper{position:relative;display:block;width:100%;overflow:hidden;padding:10px 0 0}
.teaser__imageWrapper--microsite{padding:0;width:40.1069518717%;float:left;margin-right:2.6737967914%;margin-right:10px;margin-bottom:5px}
.memoryLevel-low .teaser__imageWrapper,.cpuLevel-low .teaser__imageWrapper,.connectionSpeed-slow .teaser__imageWrapper,.saveData-true .teaser__imageWrapper,.reducedMotion-true .teaser__imageWrapper{display:none}
.teaser__image{width:100%;opacity:0;-webkit-transition:opacity .75s cubic-bezier(0.165,0.84,0.44,1);transition:opacity .75s cubic-bezier(0.165,0.84,0.44,1)}
.teaser__image.lazyload--complete,.teaser__image--fallback{opacity:1}
.teaser__icon{position:absolute;right:-2px;top:11px}
.teaser--noimage .teaser__icon{top:12px}
.teaser__icon::before{font-size:35px}
.teaser__text{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:normal;font-size:14px;line-height:19px;color:#333}
.teaser__author{height:auto;margin-bottom:10px}
.teaser__link{overflow:hidden}
.teaser__link--microsite{padding:10px}
@media screen and (-ms-high-contrast:active),(-ms-high-contrast:none){.teaser__icon::before{font-size:32px}
}