@media(min-width:1200px){.bannerSlider__container--languagePage{min-height:49px}
.bannerSlider__container--languagePage .bannerSlider__base .slider__bullet__nav{bottom:64px}
.bannerSlider__base .grid-container.bannerSlider__arrowContainer{max-width:100%}
.bannerSlider__slideContainer{height:475px}
.bannerSlider__item{height:475px;background-size:cover}
.bannerSlider__image{padding:0;height:475px}
.bannerSlider__image img{min-width:calc(100% + 1px)}
.bannerSlider__arrowContainer{max-width:100%}
.bannerSlider__box{padding:38px 40px 32px}
.bannerSlider__box--left{margin-left:-29px}
.bannerSlider__box--right{width:40.1069518717%;float:left;margin-left:59.8930481283%;margin-right:-100%}
.bannerSlider__text{font-size:22px;line-height:28px}
.bannerSlider__button{font-family:"FrutigerNext",Helvetica,Arial,sans-serif;font-weight:300;font-size:18px;line-height:24px}
}